html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
svg {
  width: 40%;
}

@keyframes dash {
  0% {
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

@keyframes dash2 {
  17% {
    fill-opacity: 0;
  }
  25% {
    fill-opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
  }
}

.path1 {
  stroke-dasharray: 383.5284729003906;
  stroke-dashoffset: 383.5284729003906;
  animation: dash 5s linear forwards;
  fill-opacity: 0;
}
.path2 {
  stroke-dasharray: 580.7098999023438;
  stroke-dashoffset: 580.7098999023438;
  animation: dash2 30s linear forwards;
  fill-opacity: 0;
}

.path3 {
  stroke-dasharray: 176.55551147460938;
  stroke-dashoffset: 176.55551147460938;
  animation: dash 5s linear forwards;
  fill-opacity: 0;
}
